openapi: 3.0.3
info:
  title: Dokumen API Web Informasi Wisata Bandung Oleh Backend Developer Akbar
  description: Dokumentasi API Informasi Wisata Bandung (IWB)
  termsOfService: https://github.com/InformasiwisataBandung/swagger
  contact:
    email: salmanakbartafisa@gmail.com
  license:
    name: Informasi Wisata Bandung
    url: https://pkg.go.dev/github.com/InformasiwisataBandung/BackendGO
  version: 1.0.11
externalDocs:
  description: Repositori Google Cloud Function !
  url: https://github.com/InformasiwisataBandung/BackendGO
servers:
  - url: https://asia-southeast2-bustling-walker-340203.cloudfunctions.net
tags:
  - name: data
    description: Data
    externalDocs:
      description: Deskripsi Kode Program
      url: https://petapedia.github.io/gcf/get/
  - name: Tes Sign up (register)
    description: Auth Access
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://asia-southeast2-bustling-walker-340203.cloudfunctions.net/SIgnin-1Signin
  - name: Tes Sign in
    description: Mendapatkan Token
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://asia-southeast2-bustling-walker-340203.cloudfunctions.net/SIgnin-1Signin
paths:
  /Otorisasu:
    get:
      tags:
        - Authorization
      summary: Authorization
      description: Authorization
      operationId: Authorization
      responses:
        '200':
          description: Successful decoding of the token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulDecodeAuthorization'
        '400':
          description: Failed decoding of the token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDecodeAuthorization'
      security:
        - token: [write:apiKey, read:apiKey]

  /CreateWisataToken1:
    post:
      summary: Create a new place of interest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama:
                  type: string
                  description: Nama Tempat Wisata
                jenis:
                  type: string
                  description: Jenis Tempat
                deskripsi:
                  type: string
                  description: Deskripsi Tempat Wisata
                lokasi:
                  type: object
                  properties:
                    latitude:
                      type: number
                      format: double
                      description: Latitude koordinat tempat wisata
                    longitude:
                      type: number
                      format: double
                      description: Longitude koordinat tempat wisata
                  required:
                    - latitude
                    - longitude
                  additionalProperties: false
                alamat:
                  type: string
                  description: Alamat Tempat Wisata
                gambar:
                  type: string
                  format: uri
                  description: URL Gambar Tempat Wisata
                rating:
                  type: number
                  format: double
                  description: 4.5
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Status of the operation
                  message:
                    type: string
                    description: Message or status description
      security:
        - token: [write:apiKey, read:apiKey]

components:
  schemas:
     FormatUser:
      example:
        name: "Contoh"
        email: "contoh@gmail.com"
        no_whatsapp: "6281271720763"
        username: "contoh"
        password: "contoh"
        role: "admin"
 FormatLoginUser:
      example:
        username: "Aku"
        password: "c24214"
    FormatUsernameUser:
      example:
        username: "contoh"
   BerhasilDapetToken:
      example:
        status: true
        message: "berhasil login"
        token: "v4.public.xxxx"
 Gagal:
      example:
        status: false
        message: "Error Buos"
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    Auth:
      type: object
      properties:
        username:
          type: string
          example: username
        password:
          type: string
          example: password
    AuthResponse:
      type: object
      properties:
        status:
          type: boolean
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy

  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
